<h1>Locker Availability</h1>
<h3>Small Lockers</h3>
<p><%=@small.count%> available</p>
<h3>Medium Lockers</h3>
<p><%=@medium.count%> available</p>
<h3>Large Lockers</h3>
<p><%=@large.count%> available</p>
<a href="/">Go Back</a>
